.taskContainerIcon{
    display:flex;
}
.emptyIcon{
    margin: auto;
    margin-top: 4rem;
}
.taskContainetText{
    width: 100%;
    text-align: center;
    color: var(--gray-300);
    font-weight: 400;
    height: 2.75rem;
    line-height: 1.4rem;
    margin-top: 1rem;

}.paragraph1{
    font-weight: 700;
}