.taskContainerIcon{
    display:flex;
}
.emptyIcon{
    margin: auto;
    margin-top: 4rem;
}
.taskContainetText{
    width: 100%;
    text-align: center;
    color: var(--gray-300);
    font-weight: 400;
    height: 2.75rem;
    line-height: 1.4rem;
    margin-top: 1rem;

}
.taskContainetText li{

    list-style:none;
    background-color: var(--gray-500);

}

.paragraph1{
    font-weight: 700;
}.createdTasksText{
    color: var(--blue-100)!important;
    padding: 0!Important;
    margin: 0 !important;
}.taskCount{
    font-size: 0.75rem;
}.doneTasksText{
    color: var(--purple-100)!important;
    background: transparent!Important;
    padding: 0!Important;

}.doneTasks{
    margin-right:0.5rem;
    
}