.Header{
    height:12.5rem;
    background-color:#0D0D0D;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top:4.5rem;
    padding-bottom:5rem;

}.to{
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 900;
    color: var(--blue-100);
}.do{
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 900;
    color: var(--purpleDark-100);
}.Header img{
   height:2.25rem;
   position: relative;
   top: 0.5rem;
   margin-right: 0.75rem;

}