.inputBox{
    max-width:46rem;
    height:3.375rem;
    background:var(--gray-500);
   

}button{
    width:5.625rem;
    height:3.25rem;
    border: none;
    background:blue;
}textarea{
    height:3.25rem;
    width:39.875rem;

}